# MẪU CẤU HÌNH BIẾN MÔI TRƯỜNG (Thành viên tự sao chép thành file .env và đổi mật khẩu)
PORT=3000

DB_SERVER=localhost
DB_DATABASE=***(Tên_mọi_người_đặt)
DB_USER=sa(Thường_là_sa)
DB_PASSWORD=******
#    *** Điền mật khẩu của tài khoản sa (trên SQL Server của mọi người vào )
